#cookie {
    height:370px;
    width:370px;
    position:absolute;
    left:550px;
    top:100px;
    
}

#demo {
    font-size: 50px;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 500px;
}

body {
    background-color: rgba(255, 227, 136, 0.882);
}