* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: enter;
}


.parent {

}


img {
    width: 60px;
}

.red-circle {
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}