.signup{
    border-radius: 10%;
    background-color: rgba(84, 204, 255, 0.601);
    height: 400px;
    width: 250px;
    padding-top: 50px;
    padding-left: 50px;
    font-size:large;
}

input{
    padding:10px;
    border-radius: 5px;

}